@model LinkShortener.DAL.ViewModels.LongUrlViewModel

@{
    ViewBag.Title = Model.Id == 0 ? "Создание" : "Редактирование";
    Layout = "_Layout";
}

<h2 class="mb-5">@ViewBag.Title</h2>
<form method="post">
    <div>
        <input type="hidden" name="Id" value="@Model.Id"/>
    </div>
    <div  class="form-group">
        <label class="form-label fs-4 fw-bolder">Полная ссылка</label>
        <input asp-for="LongUrl" class="w-100 mb-2 form-control" name="longUrl" type="text" placeholder="Введите ссылку, чтобы сократить её"/>
        <span asp-validation-for="LongUrl" class="fs-5 text-danger"></span>
    </div>
    <div>
        <input type="hidden" name="ShortUrl" value="@Model.ShortUrl"/>
    </div>
    @if (Model.Id != 0)
    {
        <div class="form-group">
            <label class="form-label fs-4 fw-bolder">Дата создания</label>
            <input asp-for="DateCreate" required="required" class="form-control"/>
            <span asp-validation-for="DateCreate" class="fs-5 text-danger"></span>
        </div>
        <div class="form-group mb-2">
            <label class="form-label fs-4 fw-bolder">Количество переходов</label>
            <input asp-for="CountClick" type="number" required="required" class="form-control"/>
            <span asp-validation-for="CountClick" class="fs-5 text-danger"></span>
        </div>
    }
    
    <button class="btn btn-secondary fw-bolder" type="submit">Сократить</button>
</form>
